@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

.example1 {
	padding: 20px;
}

.example2 {
	padding: 20px;
}

.cube .top {
	background: rgba(255, 255, 0, 0.5);
}
.cube .front {
	background: rgba(255, 0, 0, 0.5);
}
.cube .back {
	background: rgba(0, 255, 255, 0.5);
}
.cube .right {
	background: rgba(0, 255, 0, 0.5);
}
.cube .left {
	background: rgba(0, 0, 255, 0.5);
}

.cube .bottom {
	background: rgba(255, 0, 255, 0.5);
}

.cube {
	-webkit-animation: rolling 20s infinite;
	-moz-animation: rolling 20s infinite;
}

@-webkit-keyframes rolling {
	0% { transform: rotateX(0deg); }
	100% { transform: rotateX(360deg); }
}

@-moz-keyframes rolling {
	0% { transform: rotateX(0deg); }
	100% { transform: rotateX(360deg); }
}

@keyframes rolling {
	0% { transform: rotateX(0deg); }
	100% { transform: rotateX(360deg); }
}
