@charset "UTF-8";
/*------------------------------------------------------------
	レイアウト
------------------------------------------------------------*/
body {
	min-width: 800px;
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	line-height: 1.5;
	text-align: center;
}

#container {
	margin: 0 auto;
	width: 800px;
	background-color: #fff;
	text-align: left;
}

#main {
	margin-bottom: 10px;
	@include fs(14);
	@include cf;
	// @extend %cf;
}

/*------------------------------------------------------------
	ヘッダー
------------------------------------------------------------*/
#header {
	margin-bottom: 10px;
	padding: 5px 10px 10px;
	background-color: #efefef;
	position: relative;
	h1 {
		margin: 0 150px 5px 0;
		@include fs(11);
		font-weight: normal;
	}
	.logo {
		width: 200px;
		height: 50px;
		background-color: #ccc;
		float: left;
	}
	.banner {
		width: 250px;
		height: 50px;
		background-color: #ccc;
		float: right;
	}
	.otherNavi {
		position: absolute;
		top: 5px;
		right: 10px;
		li {
			display: inline;
			&.contact {
				margin-right: 2px;
				padding-right: 5px;
				border-right: 1px solid #666;
			}
		}
	}
}

/*------------------------------------------------------------
	グローバルナビ
------------------------------------------------------------*/
#gNavi {
	margin-bottom: 10px;
	li {
		width: 160px;
		background-color: #efefef;
		float: left;
		a {
			padding: 10px 0;
			display: block;
			text-decoration: none;
			text-align: center;
		}
	}
}

/*------------------------------------------------------------
	パンクズリスト
------------------------------------------------------------*/
#pagePath {
	margin-bottom: 10px;
	li {
		margin-right: 2px;
		display: inline;
		a {
			margin-right: 5px;
		}
	}
}

/*------------------------------------------------------------
	コンテンツ
------------------------------------------------------------*/
#conts {
	width: 580px;
	float: left;
}

/*------------------------------------------------------------
	サイドバー
------------------------------------------------------------*/

#sideBar {
	padding: 50px 0;
	width: 200px;
	background-color: #efefef;
	float: right;
}

/*------------------------------------------------------------
	フッター
------------------------------------------------------------*/

#footer {
	padding: 10px 10px 5px;
	background-color: #efefef;
	.subNavi {
		@include fs(12);
		text-align: center;
		li {
			margin-right: 2px;
			padding-right: 5px;
			border-right: 1px solid #666;
			display: inline;
		}
		.lastChild {
			margin: 0;
			padding: 0;
			border-right: none;
		}
	}
	.copyright {
		display: block;
		@include fs(11);
		text-align: right;
		font-style: normal;
	}
}