@charset "UTF-8";
@import "compass";
@import "vars";	// 変数
@import "functions"; // 関数等
/*------------------------------------------------------------
	トップページ
------------------------------------------------------------*/
.test {
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	text-decoration: none;
	@include bdr(11px);
}

body {
	margin: 0;
}