@charset "UTF-8";
/*------------------------------------------------------------
	レイアウト
------------------------------------------------------------*/
body {
	margin: 20px;
	line-height: 1.5;
	@include fs(14);
	-webkit-text-size-adjust: 100%;
}

h1 {
	margin-bottom: 30px;
	@include fs(20);
}